@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   

}
body{
    overflow-x: hidden;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;

}
/*
.box{
    width: 80px;
    height: 80px;
    margin-left: 5rem;
    box-shadow: 0 4px 60px rgba(0,0,0,.2);
}
.box2{
    width: 80px;
    height: 80px;
    margin-left: 12rem;
    background-color: white;
    box-shadow: 0 4px 50px rgba(0,0,0,.01);
}*/
/* Header */
header{
    background-color: white;
    z-index: 50;
    position: fixed;
}
.top-nav{
    width: 90%;
    margin: auto;
    display: grid;
    padding: .8rem 0;
    grid-template-columns: repeat(2,1fr);
}
.logo img{
    width: 70%;
    
}
.top-contact-info{
    display: flex;
    justify-content: end;
    align-items: center;
}
.phone-no span{
    display: flex;
}
.phone-no{
    margin-right: 2rem;
}
ul{
    display: flex;
   
}
li{
    list-style-type: none;
   
}
li i{
    font-size: 2rem;
    color: #00BB66;
    margin-right: 1rem;
}
/* Nav Bar */
.nav_bar{
    background-color:#00BB66;
}
.nav-bar-content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.menu_bar{
    place-self: center start;
}
.menu_bar ul li{
   
    margin-right: 2rem;
    font-weight: 900;
}
.menu_bar ul li:hover{
    border-bottom: 2px white solid;
}
li:active    {
    border-bottom: 2px white solid;
}
.menu_bar ul li a{
    color: white;
}
.buttton-side{
    place-self: center end;
}
.quote-btn{
    color: #00BB66;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1em;
    background-color:#DDDDDD;
    text-transform: uppercase;
    border: 1px #00BB66 solid;
    transition: all .3s
}
/* **************Responsive Section****************** */
.responsive-nav-bar{
    position: fixed;
    
    padding: .2rem;
    z-index: 10000;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
    background: white;
    transition: all .5s cubic-bezier(.23,1,.32,1);
    
    display: none;
}
.responsive-menu-icon{
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    top: 0;
    left: 0;
    background: #0b1a1f;
    color: white;
    cursor: pointer;
}
.top-bar,
.middle-bar,
.bottom-bar{
    position: absolute;
    left: 1rem;
    width: 3rem;
    height: .2em;
    background: white;
    border-radius: 2px;
    transition: all .5s;
    transform-origin: center;
}
.top-bar{
    top: 1rem;
}
.middle-bar{
    top: 2rem;
    left: 0rem;
}
.middle-bar:hover{
    left: 2rem;
    background: #f13525;
}
.bottom-bar{
    top: 3rem;
}
.responsive-menu-icon.active .top-bar{
    transform: translateY(1rem) rotate(45deg);
}
.responsive-menu-icon.active .middle-bar{
    width: 0;
    opacity: 0;
 }
 .responsive-menu-icon.active .bottom-bar{
    transform: translateY(-1rem) rotate(-45deg);
    width: 3rem;
 }
.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    opacity: 0;
    z-index: 500;
    margin-top: 4em;
    display: none;
    transition: all .5s cubic-bezier(.23,1,.32,1);
    transition-delay: .3s;
}
.menu-overlay.active{
    opacity: 1;
    visibility: visible;
}

.mobile-menu{
    width: 70vw;
    height: 100vh;
    background: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: 
    linear-gradient(to left, rgba(127, 128, 129, 0.52), rgba(61, 60, 61, 0.73)),
    url(images/Asset6.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;

    
}


/* ******************End of responsive Section******************************* */
.menu-icon{
    position:relative;
	width:12em;
	height:7em;
	left:0;
	top:0;
	float:left;
	z-index:10000;
	background:#0b1a1f;
	color:white;
	cursor:pointer;
}
/* Landing Page Section */
.landing-page{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(to left, rgba(127, 128, 129, 0.52), rgba(61, 60, 61, 0.73)),
    url(images/image1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.landing-page-content{
    display: grid;
    grid-template-columns: 70% 20%;
    margin: auto;
    width: 90%;
    height: 60vh;
}
.left-landing{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    place-self: center center;
    padding: 3rem 0rem;
    font-family: 'proxima_nova_rgbold';
    color: white;
}
.banner-tag{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'proxima_nova_rgregular';
}
.banner-title{
    font-size: 5em;
    line-height: 1.1;
}
.banner-excerpt{
    font-size: 1.2em;
    line-height: 2;
    font-family: 'proxima_nova_rgregular';
}
.banner-btn{
    margin-top: 2rem;
}
.about-btn{
    padding: 1.5em 2em;
     color: #00BB66;
     text-transform: uppercase;
      border: none;
     letter-spacing: 1px;
     cursor: pointer;
     border-radius: 4px;
     text-align: center;
    background: #f0f0f0;
    margin-left: 1rem;
}
.services-btn{
    padding: 1.5em 2em;
     color: white;
     text-transform: uppercase;
     background: #00BB66;
      border: none;
     letter-spacing: 1px;
     cursor: pointer;
     border-radius: 4px;
     text-align: center;
}
.about-btn:hover{
    color: #DDDDDD;
    background: #00BB66;
}
.services-btn:hover{
     color: #00BB66;
     background: #DDDDDD;
}
/* End of Landing Page Section */
/* Page Section */
.page{
    background: white;
    z-index: -1;
    
}
.page-content{
    display: grid;
    grid-template-columns: 50% 48%;
    width: 90%;
    margin: auto;
    gap: 2rem;
    position: relative;
   
}
.left-page{
    place-self: center center;
    padding: 4rem 0rem;
}

.right-page{
    width: 100%;
   
}
.right-page img{
    width: 48%;
    height: 450px;
    object-fit: cover;
   position: absolute;
  top: -4rem;
   overflow: hidden;
  
}
.page-bg{
    width: 100%;
    height: 100%;
   position: absolute;
   top: 0;
   right: 0;
    border: 2px solid red;
}

.page-tag{
    font-family:'proxima_nova_rgbold' ;
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:  #f13525;
    margin-bottom: 2rem;
}
.page-title{
    font-family:'proxima_nova_rgbold' ;
    font-size: 2.5rem;
    color: #00BB66;
    margin-bottom: 2rem;
}
.page-text{
    font-size: 1.2rem;
    line-height: 1.2;
}
/* End of Page Section */
/* Services Section */
.services-container{
    background-color: #00BB66;
    width: 100%;
    padding:3rem  0rem 5rem 0rem;
    background-image: url(images/splash2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    opacity: 0.7;
    z-index: 7;
   
}
.services-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    gap: 2rem;

}
.services-title{
    text-align: center;
    font-family:'proxima_nova_rgbold' ;
    font-size: 2rem;
    color: white;
    padding: 1rem 0rem;
}
.services-intro{
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 1rem;
    color: white;
    margin-bottom: 2rem;
}
.icon-box i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00BB66;
}
.content-box{
    height: 400px;
    place-self: center center;
    padding: 4rem 1rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba(0,0,0,.01);
}
.content-box:hover{
    box-shadow: 0 4px 60px rgba(8, 8, 8, 0.5);
}
.box-title{
    font-family:'proxima_nova_rgbold' ;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #00BB66;
}

.text-box{
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.box-btn{
    color: #00BB66;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    background-color:transparent;
    text-transform: uppercase;
    border: 1px #00BB66 solid;
  
    transition: all .3s
}
.box-btn:hover{
    color: #DDDDDD;
    background-color:#00BB66;
}
/* End of services section */
/* Featured Section */
.featured-container{
    width: 100%;
    padding:2rem  0rem 9rem 0rem;
    background-color: rgb(29, 28, 28);
   border: 2px solid  rgb(29, 28, 28);

}
.featured-title{
    text-align: center;
    font-family:'proxima_nova_rgbold' ;
    font-size: 2rem;
    color: #00BB66;
    margin: 1rem 0rem;
    
}
.featured-intro{
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 1rem;
    color: #00BB66;
    margin-bottom: 2rem;
}
.featured-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 90%;
    margin: auto;
    
}
.featured-box{
    text-align: center;
    padding: 5rem 1rem;
    border: 1px solid #DDDDDD;
}
.featured-box .text-box{
    text-align: center;
    color: white;
}
/* End of Featured Section */
/* Form Section */
.form-container{
    width: 100%;
    padding:1rem  0rem 0rem 0rem;
    background-color: #DDDDDD;
    background-image: url(images/splash2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}



.form-wrapper{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    transform: translateY(-5rem);
}
.form-side{
    padding: 2rem;
    background: white;
}
input,
select{
    width: 240px;
    padding: 1rem 1rem;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}
textarea{
    margin-top: 1rem;
}
.quote-btn2{
    color: white;
    padding: 1.5em 1em;
    cursor: pointer;
    font-size: 1em;
    background-color:#00BB66;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all .3s;
    border: none;
}
/* input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 240px;
    } */
.form-row{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.form-side h3{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.form-info{
    background-color: #00BB66;
}

.form-info-content{
    color: #DDDDDD;
    padding: 2rem;
}
.info-title{
    font-size: 2rem;
    font-weight: 600;
}
.info-text{
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 15rem;
}
.info-btn{
    color: #00BB66;
    padding: 1.5em 1em;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    background-color:#DDDDDD;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all .3s;
    border: none;
}
.text-area-input{
    width: 100%;
    height:150px;
}
  
/* End of form section */
/* Gallery Section */

.gallery-container{
    width: 100%;
    height: 70dvh;
    background-color: #00BB66;
    background-image: url(images/splash2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.gallery-content{
    display: grid;
    
    width: 100%;
    height: 70dvh;
    margin: auto;
   
}

.gallery-title{
    text-align: center;
    font-family:'proxima_nova_rgbold' ;
    font-size: 2rem;
    color: white;
    padding: 1rem 0rem;
}
.gallery-intro{
    text-align: center;
    font-family: 'proxima_nova_rgregular';
    font-size: 1rem;
    color: white;
    margin-bottom: 2rem;
}
.splide{
    margin-top: 1rem;
    place-self: center;
    width: 95%;
    margin: auto;
    transform: translate(2rem, 3rem);
    overflow-x: hidden;
    
}
.splide__slide{
    width: 600px;
    height: 400px;
    background-color: white;
    
}
.splide__slide img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.splide{
    margin-bottom: 8rem;
}

/* End of gallery section */
/* Trusted forwarder Section */
.trusted-forwarder{
    margin-top: 15rem;
    width: 100%;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    position: relative;
}
.sponsor img{
    width: 100%;
    height: 100px;
    object-fit: contain;
   
    
}
.trusted-forwarder h3{
    width: 25%;
    margin: auto;
    background-color: white;
    transform: translateY(-.7rem);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 200;
    position: absolute;
    left: 4rem;
}
/* End of trusted forwarder */





/* Footer Section */
footer{
    border-bottom: 2px solid #DDDDDD;
}
.footer-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0rem;
}
.footer-info{
    padding: 2rem 0;
    line-height: 1.4;
}
.footer-middle ul, .footer-right ul{
    display: flex;
    flex-direction: column;
   
   
}
.footer-middle ul li,
.footer-right ul li{
    padding: .5rem 0;
}
.footer-middle ul li a,
.footer-right ul li a{
    color: black;
    text-decoration: none;
}
/* End of Footer Section */

.footer-end-content{
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}